.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rexxar-fade-in {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}
